#scene1 {
  width: 100%;
  height: 100%;
  background: url("../img/s1-bg.png") no-repeat 0 0;
  background-size: 100%;
  position: relative;
  display: none;

  .man {
    width: px2rem(660);
    height: px2rem(493);
    background: url("../img/s1-1.png") no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    top: px2rem(178);
    left:px2rem(60);
  }

  .title {
    width: px2rem(659);
    height: px2rem(182);
    background: url("../img/s1-2.png") no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    top: px2rem(55);
    left:px2rem(50);
  }

  .start {
    width: px2rem(397);
    height: px2rem(100);
    background: url("../img/s1-4.png") no-repeat 0 0;
    background-size: 100%;
    border:none;
    position: absolute;
    top: px2rem(880);
    left:px2rem(180);
  }

  .rule {
    width: px2rem(96);
    height: px2rem(82);
    background: url("../img/s1-3.png") no-repeat 0 0;
    background-size: 100%;
    border:none;
    position: absolute;
    top: 0;
    right:0;
  }
}

#__bs_notify__ {
  display: none!important;
}