#scene2 {
  width: 100%;
  height: 100%;
  background: url("../img/s2-bg.png") no-repeat 0 0;
  background-size: 100%;
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  .countdown {
    width: px2rem(480);
    height: px2rem(130);
    margin: px2rem(40) auto px2rem(35);
  }

  .jigsaw {
    width: 100%;
    height: px2rem(705);
    padding-left: px2rem(12);
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .jigsaw-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    -webkit-appearance: none;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);

    .preview {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      transition: .25s ease;
      border: 3px solid #fff;
      margin: 0 auto;
      transform: translate(0, 150%) scale(.3);
      opacity: 0;

      &.active {
        transform: translate(0, 0) scale(1);
        opacity: 1;
      }
    }
  }

  .img {
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: top .5s ease-in-out, left .5s ease-in-out;
    opacity: 1;
    z-index: 1;

    &.drag-move {
      opacity: 0.7;
      transition: opacity .3s ease-in-out;
      z-index: 19911125;
    }

    &.moving {
      transition: top .3s ease-in-out, left .3s ease-in-out;
    }
  }

  .btn-preview {
    width: px2rem(397);
    height: px2rem(100);
    background: url("../img/s2-1.png") no-repeat 0 0;
    background-size: 100%;
    border: none;
    position: absolute;
    top: px2rem(955);
    left: px2rem(180);
    opacity: 1;
    transition: .1s;
    display: none;

    &.inactive {
      opacity: 0;
    }
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0);
    z-index: -1;
    transition: .5s;

    &.active {
      z-index: 1;
      background: rgba(0, 0, 0, .5);
    }
  }
}